.catalog{
    &:hover{
        path{
            fill: rgb(34 197 94 / 1);
        }
    }
}
.card-menu{
    .cart{
        &:hover{
            path{
                fill: rgb(34 197 94 / 1);
            }
        } 
    }
}
// Hero
.hero{
    background: url("assetss/Group\ 7100.png");
    background-position: center;
    background-size: cover;
    img{
        width: 30%;
        height: 65%;
    }
}


.izbranniy{
    @apply hover:bg-[#FF6633];
    &:hover{
        path{
            fill: #ffff;
        }
    }
}

// General

*{
    font-family: 'Rubik', sans-serif;
}